/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* From: ncs/nrf/samples/nrf9160/lte_ble_gateway/boards/thingy91_nrf9160_ns.overlay */

/* #include <nrf9160dk_nrf52840_reset_on_if5.dtsi> */

/* Use the reset line that is available starting from v0.14.0 of the DK. */
#include <nrf9160dk_nrf52840_reset_on_if9.dtsi>

/ {
	chosen {
		zephyr,bt-uart=&lpuart;
	};
};

&gpiote {
	interrupts = <49 NRF_DEFAULT_IRQ_PRIORITY>;
};

&uart2 {
	current-speed = <1000000>;
	status = "okay";
	tx-pin = <18>; /* <&interface_to_nrf52840 1 0>; */
	rx-pin = <17>; /* <&interface_to_nrf52840 0 0>; */
	/delete-property/ rts-pin;
	/delete-property/ cts-pin;
	/delete-property/ hw-flow-control;

	lpuart: nrf-sw-lpuart {
		compatible = "nordic,nrf-sw-lpuart";
		status = "okay";
		label = "LPUART";
		req-pin = <21>; /* <&interface_to_nrf52840 3 0>; */
		rdy-pin = <19>; /* <&interface_to_nrf52840 2 0>; */
	};
};
&uart1 {
	status = "disabled";
};