# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config DECT_NRP_LIB
	bool "DECT NR+ library"
	help
	  Miscellaneous utility functions for DECT NR+ to be used by different
	  DECT NR+ subsystems.
